@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --cor01: #8C3503;
  --cor02: #d98927;
  --cor03: #bf6a02;
  --cor04: #26471b;
  --cor05: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/*Animação do body*/

body {
  opacity: 0;
  transform: scale(0.99);
  animation: fadeZoom 0.3s ease-out forwards, fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeZoom {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 8vh;
  position: fixed;
  background-color: var(--cor01);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  gap: 0.5vw;
}

.nav-logo h1 {
  font-size: 1.4rem;
  color: white;
  font-family: "Raleway", sans-serif;
}

.nav-logo span {
  color: var(--cor02);
  font-family: "Raleway", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2vw;
}

.nav-links ul li {
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.nav-links ul li a {
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
  text-decoration: none;
}

.nav-links ul li a:hover {
  color: var(--cor03);
}

.select a {
  color: var(--cor03) !important;
  font-weight: 600;
}

.nav-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  gap: 1.5vw;
}

.nav-login i {
  color: var(--cor05);
  font-size: 2.6rem;
  cursor: pointer;
  transition: 0.2s;
}

.nav-login i:hover {
  color: var(--cor03);
}

.nav-login button {
  background-color: transparent;
  color: white;
  font-size: 0.9rem;
  width: 7vw;
  height: 3.5vh;
  border: 3px solid white;
  border-radius: 0.9rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.nav-login button:hover {
  background-color: var(--cor05);
  color: var(--cor01);
  border: none;
}


/*
Formulario de contato
*/

#container_contato {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

#titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 20%;
  gap: 0.3vh;
}

#titulo h1,
#titulo p {
  color: #8C3503;
}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65%;
  background-color: #d98927;
}

#formContato {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 90%;
  flex-direction: column;
}

#inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35%;
  flex-direction: column;
}

#assunto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65%;
  flex-direction: column;
}

#linhas_inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}

#linhas_inputs input {
  border: 2px solid #8c3503c4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
  padding-left: 2.8%;
}

#linhas_inputs i.fa-envelope{
  position: absolute;
  left: 5.8%;
  top: 44.2%;
  color: #8C3503;
}

#linhas_inputs i.fa-briefcase{
  position: absolute;
  left: 5.8%;
  top: 35.79%;
  color: #8C3503;
}

#assunto textarea {
  padding: 1rem;
  width: 97.8%;
  height: 100%;
  border: 2px solid #8c3503c4;
  border-radius: 10px;
  resize: none;
}

#assunto button{
  position: absolute;
  right: 6.3%;
  top: 83%;
  height: 5%;
  width: 7%;
  border: 1px solid white;
  background-color: #8C3503;
  color: white;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.3s;
}

#assunto button:hover{
  background-color: #26471b;

}